#bumper {
  background-color: grey;
  z-index: 7;
  margin: 0px;
}

body {
  background-color: #1d1d16;
}
#robots div {
  position: absolute;
  color: black;
  width: 39px;
  height: 33px;
  z-index: 0;
  background-color: transparent;
  text-align: center;
  margin-left: 900px;
  margin-top: 200px;
  border: 1px solid black;
  text-align: center;
}
#mainRobot p {
  color: black;
}
#mainRobot:hover {
  cursor: crosshair;
}
#robots div p {
  margin: auto;
}
#positionBox {
  position: absolute;
  z-index: 3;
  margin-left: 900px;
  width: 500px;
  color: #f29f05;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #1d1d16;
}
#title {
  border: 1px dotted #7230a7;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
#play {
  border: 1px dotted #7230a7;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}
#positions div {
  border: 1px dotted #7230a7;
}
#navs div {
  position: absolute;
  z-index: 3;

  color: #f29f05;
  text-align: center;
}
#topNav {
  width: 98%;
}
#bottomNav {
  width: 98%;
  bottom: 0;
}
#leftNav {
  left: 0;
  width: 20%;
}
#rightNav {
  right: 0;
  width: 20%;
}
#settings {
  margin-bottom: 100px;
}
#positionBox {
  margin-top: 20px;
  margin-left: 70%;
}
#playSim {
  width: 100%;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #7230a7;
  border: transparent;
}
body {
  margin-top: 0px;
}
#body p {
  color: black;
}
.bumper {
  display: none;
  background-color: gray !important;
  margin-top: 0px !important;
  margin-bottom: 0 !important;
  margin-left: -10px !important;
  margin-right: 0 !important;
  width: 10.5px !important;
  border: none !important;
}
#robots div p {
  margin: auto;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
#addPoint div textarea {
  outline: none;
  border: 1px solid black;
  margin-top: 10px;
  width: 60px;
  height: 16px;
  background-color: #1d1d16;
}
#addPoint div textarea {
  color: #f29f05;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#addPoint div textarea:focus {
  outline: none;
}
#addPoint div p {
  margin-top: 14px;
}
#addPoint {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px dotted #7230a7;
}
#addPoint div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 120px;
}
#clock {
  position: absolute;
  z-index: -1;
  color: #f29f05;
  font-size: 50px;
  text-align: center;
  width: 99%;
  margin-top: 8%;
}

#fullField {
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #1d1d16;
  cursor: pointer;
  position: relative;
  border-radius: 24px;
}

#fullField:before {
  content: "";
  background: linear-gradient(
    45deg,
    /* #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000 */
      #e85100,
    #e75100,
    #e77b00,
    #e7a200,
    #e7a600,
    #c4e700,
    #e86800,
    #e78700,
    #e77000e8
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 24px;
}

#fullField:active {
  color: #1d1d16;
}

#fullField:before {
  opacity: 1;
}

#fullField:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 102%;
  height: 102%;
  background: #1d1d16;
  left: 0;
  top: 0;
  border-radius: 24px;
}
#fullField {
  position: absolute;
  z-index: -1;
  border-radius: 24px;
}
#fullField img {
  border-radius: 24px;
}
